.button{
    background-color: #000;
    color: #fff;
}
.aling-text{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.aling-navbar{
    display: flex;
    justify-content: space-between;
}
a.navbar-brand {
    font-size: unset;
    font-size: 26px;
}
a.aling-text.nav-link {
    font-size: unset;
    font-size: 20px;
}
a.nav-link{
    font-size: unset;
    font-size: 20px;
}
.aling-body{
    background-color: rgb(39, 39, 39);
    height: 724px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.title{
    color: #fff
}
.title-name{
    color: #fff;
    margin-bottom: unset;
}
.link-categories{
    text-decoration: none;
    color: rgb(0, 162, 255);
}
.link-categories:hover{
    color: rgb(0, 162, 255);
}
.link-categories-github{
    text-decoration: none;
    color: #fff;
}
.link-categories-github:hover{
    color:rgb(0, 162, 255);
}
.aling-atom{
    margin-bottom: 15px;
}
.aling-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    margin-right: 8px;
}
.title-react{
    color: rgb(0, 162, 255);
}
.title-node{
    color: yellow;
}